# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
/build/
/.gradle/
/mcmodsrepo/

# other
eclipse
run/
run-data/
logs
crash-reports/
config/gradlemc/reports/
src/generated/resources/
*.log
*.jar
*.war
*.ear
extracted-jar/
jar-inspect/
tmp-jar/

# Files from Forge MDK
forge*changelog.txt

# OS/editor noise
.DS_Store
Thumbs.db
