# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.kotlin
dependencies/
caches/
daemon/
wrapper/
native/
.tmp/

# other
eclipse
run
run-data
logs
crash-reports
screenshots
*.log
*.tmp
*.bak
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Files from Forge MDK
forge*changelog.txt
